<!DOCTYPE html>
<html lang="en">

<head>
	<title>Lunches</title>
</head>

<body>
	{{{ body }}} {{dataFromServer}} {{!-- eslint disable below --}} {{{
	<p>Hey Antonio</p>}}}
</body>

</html>